# AFTER EDITING THIS FILE RUN: sed -e 's/^/FIRE7\//' .gitignore | tail -n +2 > ../.dockerignore >> ../.dockerignore
*.swp
extra/ginac/*
usr/logs
*.o
*~
*backup
*kate-swp
documentation/
!documentation/Doxyfile
!documentation/README
poly/FIRE7
poly/FLAME7
poly/Ftool7
prime/FIRE7
prime/FLAME7
prime/Ftool7
multiprime/FIRE7
multiprime/FLAME7
multiprime/Ftool7
mpi/mpi_run_single
temp/*
!temp/.*
reports/*
!reports/.*
!reports/README
usr/include/*
usr/lib/*
usr/share/*
usr/lib64/*
usr/bin/*
extra/kyotocabinet-1.2.77/Makefile
extra/kyotocabinet-1.2.77/config.log
extra/kyotocabinet-1.2.77/config.status
extra/kyotocabinet-1.2.77/config.tmp
extra/kyotocabinet-1.2.77/kccachetest
extra/kyotocabinet-1.2.77/kcdirmgr
extra/kyotocabinet-1.2.77/kcdirtest
extra/kyotocabinet-1.2.77/kcforestmgr
extra/kyotocabinet-1.2.77/kcforesttest
extra/kyotocabinet-1.2.77/kcgrasstest
extra/kyotocabinet-1.2.77/kchashmgr
extra/kyotocabinet-1.2.77/kchashtest
extra/kyotocabinet-1.2.77/kclangctest
extra/kyotocabinet-1.2.77/kcpolymgr
extra/kyotocabinet-1.2.77/kcpolytest
extra/kyotocabinet-1.2.77/kcprototest
extra/kyotocabinet-1.2.77/kcstashtest
extra/kyotocabinet-1.2.77/kctreemgr
extra/kyotocabinet-1.2.77/kctreetest
extra/kyotocabinet-1.2.77/kcutilmgr
extra/kyotocabinet-1.2.77/kcutiltest
extra/kyotocabinet-1.2.77/kyotocabinet.pc
extra/kyotocabinet-1.2.77/libkyotocabinet.a
extra/kyotocabinet-1.2.77/libkyotocabinet.so
extra/kyotocabinet-1.2.77/libkyotocabinet.so.16
extra/kyotocabinet-1.2.77/libkyotocabinet.so.16.13.0
extra/kyotocabinet-1.2.77/libkyotocabinet.dylib
extra/kyotocabinet-1.2.77/libkyotocabinet.16.dylib
extra/kyotocabinet-1.2.77/libkyotocabinet.16.13.0.dylib
extra/snappy-1.1.1/.deps/
extra/snappy-1.1.1/.libs/
extra/snappy-1.1.1/Makefile
extra/snappy-1.1.1/config.h
extra/snappy-1.1.1/config.log
extra/snappy-1.1.1/config.status
extra/snappy-1.1.1/libsnappy.la
extra/snappy-1.1.1/libtool
extra/snappy-1.1.1/snappy-c.lo
extra/snappy-1.1.1/snappy-sinksource.lo
extra/snappy-1.1.1/snappy-stubs-internal.lo
extra/snappy-1.1.1/snappy.lo
extra/snappy-1.1.1/snappy_unittest
extra/snappy-1.1.1/stamp-h1
extra/snappy-1.1.1/autom4te.cache/
extra/snappy-1.1.1/snappy-stubs-public.h
poly/Makefile
prime/Makefile
multiprime/Makefile
tools/Makefile
mpi/Makefile
/Makefile
extra/gperftools-2.7/.libs/
extra/gperftools-2.7/Makefile
extra/gperftools-2.7/addressmap_unittest
extra/gperftools-2.7/atomicops_unittest
extra/gperftools-2.7/benchmark/.deps/
extra/gperftools-2.7/benchmark/.dirstamp
extra/gperftools-2.7/benchmark/run_benchmark.lo
extra/gperftools-2.7/binary_trees
extra/gperftools-2.7/binary_trees_shared
extra/gperftools-2.7/config.log
extra/gperftools-2.7/config.status
extra/gperftools-2.7/current_allocated_bytes_test
extra/gperftools-2.7/debugallocation_test
extra/gperftools-2.7/debugallocation_test.sh
extra/gperftools-2.7/frag_unittest
extra/gperftools-2.7/getpc_test
extra/gperftools-2.7/heap-checker-death_unittest.sh
extra/gperftools-2.7/heap-checker_debug_unittest
extra/gperftools-2.7/heap-checker_debug_unittest.sh
extra/gperftools-2.7/heap-checker_unittest
extra/gperftools-2.7/heap-checker_unittest.sh
extra/gperftools-2.7/heap-profiler_debug_unittest
extra/gperftools-2.7/heap-profiler_debug_unittest.sh
extra/gperftools-2.7/heap-profiler_unittest
extra/gperftools-2.7/heap-profiler_unittest.sh
extra/gperftools-2.7/libfake_stacktrace_scope.la
extra/gperftools-2.7/liblogging.la
extra/gperftools-2.7/libmaybe_threads.la
extra/gperftools-2.7/libprofiler.la
extra/gperftools-2.7/libprofiler.pc
extra/gperftools-2.7/librun_benchmark.la
extra/gperftools-2.7/libspinlock.la
extra/gperftools-2.7/libstacktrace.la
extra/gperftools-2.7/libsysinfo.la
extra/gperftools-2.7/libtcmalloc.la
extra/gperftools-2.7/libtcmalloc.pc
extra/gperftools-2.7/libtcmalloc_and_profiler.la
extra/gperftools-2.7/libtcmalloc_debug.la
extra/gperftools-2.7/libtcmalloc_debug.pc
extra/gperftools-2.7/libtcmalloc_internal.la
extra/gperftools-2.7/libtcmalloc_minimal.la
extra/gperftools-2.7/libtcmalloc_minimal.pc
extra/gperftools-2.7/libtcmalloc_minimal_debug.la
extra/gperftools-2.7/libtcmalloc_minimal_debug.pc
extra/gperftools-2.7/libtcmalloc_minimal_internal.la
extra/gperftools-2.7/low_level_alloc_unittest
extra/gperftools-2.7/malloc_bench
extra/gperftools-2.7/malloc_bench_shared
extra/gperftools-2.7/malloc_bench_shared_full
extra/gperftools-2.7/malloc_extension_c_test
extra/gperftools-2.7/malloc_extension_debug_test
extra/gperftools-2.7/malloc_extension_test
extra/gperftools-2.7/malloc_hook_test
extra/gperftools-2.7/markidle_unittest
extra/gperftools-2.7/memalign_debug_unittest
extra/gperftools-2.7/memalign_unittest
extra/gperftools-2.7/packed_cache_test
extra/gperftools-2.7/page_heap_test
extra/gperftools-2.7/pagemap_unittest
extra/gperftools-2.7/profile_handler_unittest
extra/gperftools-2.7/profiledata_unittest
extra/gperftools-2.7/profiler1_unittest
extra/gperftools-2.7/profiler2_unittest
extra/gperftools-2.7/profiler3_unittest
extra/gperftools-2.7/profiler4_unittest
extra/gperftools-2.7/profiler_unittest.sh
extra/gperftools-2.7/raw_printer_test
extra/gperftools-2.7/realloc_debug_unittest
extra/gperftools-2.7/realloc_unittest
extra/gperftools-2.7/sampler_debug_test
extra/gperftools-2.7/sampler_test
extra/gperftools-2.7/sampling_debug_test
extra/gperftools-2.7/sampling_debug_test.sh
extra/gperftools-2.7/sampling_test
extra/gperftools-2.7/sampling_test.sh
extra/gperftools-2.7/simple_compat_test
extra/gperftools-2.7/src/.deps/
extra/gperftools-2.7/src/.dirstamp
extra/gperftools-2.7/src/base/.deps/
extra/gperftools-2.7/src/base/.dirstamp
extra/gperftools-2.7/src/base/atomicops-internals-x86.lo
extra/gperftools-2.7/src/base/dynamic_annotations.lo
extra/gperftools-2.7/src/base/elf_mem_image.lo
extra/gperftools-2.7/src/base/libtcmalloc_and_profiler_la-linuxthreads.lo
extra/gperftools-2.7/src/base/libtcmalloc_debug_la-linuxthreads.lo
extra/gperftools-2.7/src/base/libtcmalloc_internal_la-low_level_alloc.lo
extra/gperftools-2.7/src/base/libtcmalloc_la-linuxthreads.lo
extra/gperftools-2.7/src/base/logging.lo
extra/gperftools-2.7/src/base/spinlock.lo
extra/gperftools-2.7/src/base/spinlock_internal.lo
extra/gperftools-2.7/src/base/sysinfo.lo
extra/gperftools-2.7/src/base/thread_lister.lo
extra/gperftools-2.7/src/base/vdso_support.lo
extra/gperftools-2.7/src/config.h
extra/gperftools-2.7/src/fake_stacktrace_scope.lo
extra/gperftools-2.7/src/gperftools/tcmalloc.h
extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-heap-checker-bcad.lo
extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-heap-checker.lo
extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-profile-handler.lo
extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-profiledata.lo
extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-profiler.lo
extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-tcmalloc.lo
extra/gperftools-2.7/src/libtcmalloc_debug_la-debugallocation.lo
extra/gperftools-2.7/src/libtcmalloc_debug_la-heap-checker-bcad.lo
extra/gperftools-2.7/src/libtcmalloc_debug_la-heap-checker.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-central_freelist.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-common.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-fake_stacktrace_scope.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-heap-profile-table.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-heap-profiler.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-internal_logging.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-malloc_extension.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-malloc_hook.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-memfs_malloc.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-memory_region_map.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-page_heap.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-raw_printer.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-sampler.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-span.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-stack_trace_table.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-static_vars.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-symbolize.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-system-alloc.lo
extra/gperftools-2.7/src/libtcmalloc_internal_la-thread_cache.lo
extra/gperftools-2.7/src/libtcmalloc_la-heap-checker-bcad.lo
extra/gperftools-2.7/src/libtcmalloc_la-heap-checker.lo
extra/gperftools-2.7/src/libtcmalloc_la-tcmalloc.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_debug_la-debugallocation.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-central_freelist.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-common.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-internal_logging.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-malloc_extension.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-malloc_hook.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-memfs_malloc.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-page_heap.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-sampler.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-span.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-stack_trace_table.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-static_vars.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-symbolize.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-system-alloc.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-thread_cache.lo
extra/gperftools-2.7/src/libtcmalloc_minimal_la-tcmalloc.lo
extra/gperftools-2.7/src/maybe_threads.lo
extra/gperftools-2.7/src/profile-handler.lo
extra/gperftools-2.7/src/profiledata.lo
extra/gperftools-2.7/src/profiler.lo
extra/gperftools-2.7/src/stacktrace.lo
extra/gperftools-2.7/src/stamp-h1
extra/gperftools-2.7/src/tests/.deps/
extra/gperftools-2.7/src/tests/.dirstamp
extra/gperftools-2.7/src/windows/.deps/
extra/gperftools-2.7/stack_trace_table_test
extra/gperftools-2.7/stacktrace_unittest
extra/gperftools-2.7/system_alloc_unittest
extra/gperftools-2.7/tcmalloc_and_profiler_unittest
extra/gperftools-2.7/tcmalloc_both_unittest
extra/gperftools-2.7/tcmalloc_debug_unittest
extra/gperftools-2.7/tcmalloc_large_heap_fragmentation_unittest
extra/gperftools-2.7/tcmalloc_large_unittest
extra/gperftools-2.7/tcmalloc_minimal_debug_unittest
extra/gperftools-2.7/tcmalloc_minimal_large_heap_fragmentation_unittest
extra/gperftools-2.7/tcmalloc_minimal_large_unittest
extra/gperftools-2.7/tcmalloc_minimal_unittest
extra/gperftools-2.7/tcmalloc_unittest
extra/gperftools-2.7/tcmalloc_unittest.sh
extra/gperftools-2.7/thread_dealloc_unittest
extra/gperftools-2.7/libtool
extra/gperftools-2.7/tcm_min_asserts_unittest
extra/gperftools-2.7/unwind_bench
extra/snappy-1.1.7/build
previous_options
mpi/FIRE_MPI
.tags
tests/db
strace_out
paths.inc
libs.inc
extra/CoCoALib-0.99715/configuration/last-config-cmd
extra/CoCoALib-0.99715/configuration/autoconf.mk
extra/CoCoALib-0.99715/configuration/autoconf.mk.old
extra/CoCoALib-0.99715/include/CoCoA/PREPROCESSOR_DEFNS.H
extra/CoCoALib-0.99715/include/CoCoA/PREPROCESSOR_DEFNS.H-old
extra/CoCoALib-0.99715/lib
extra/CoCoALib-0.99715/src/AlgebraicCore/leak_checker
tests/math/temp/*
extra/CoCoALib-0.99715/doc/CoCoALib-tasks/HTMLTasks
tools/diff
tools/lcm
tools/substitute
tools/FIRE7_MPI
tools/FIRE7_MPI_GPU
tools/reconstruct
tools/tables2rules
tools/combine
tools/add
*.swp
libraryBinarySettings
usr/etc/*
prime/eqgen_external_solver
multiprime/eqgen_external_solver
tools/reconstruct_mpi
tools/reconstruct_gpu
tools/reconstruct_mpi_gpu
sources/tools/topo_sort.cpp
tools/topo_sort
sources/eqgen_external_solver.cpp
