#compressor none
#threads 4
#clean_databases
#fthreads 4
#sthreads 4
#variables d, mch, nbkh, nbp, np
#start
#folder /Users/balth/Library/Mathematica/Applications/LoopS/Examples/Notebook/LoopSFile/Processes/ZHR/IBPReduction/FIRE/
#problem 1 familyNLO1.start
#integrals familyNLO1.m
#output /Users/balth/Library/Mathematica/Applications/LoopS/Examples/Notebook/LoopSFile/Processes/ZHR/IBPReduction/FIRE/familyNLO1.tables