#compressor        none
#threads           1
#fthreads          s1
#variables         u,v,w,d
#pos_pref          2
#start
#folder            examples/nb0/
#problem           2 |7|nb0-new.start
#lbases            nb0.lbases
#preferred         nb0.pref
#integrals         intsde-nb0.m
#output            ../../tests/outputs/intsde-nb0.tables
