#compressor none
#threads 4
#clean_databases
#fthreads 4
#sthreads 4
#variables d, x1, x2, y1, y2
#start
#folder /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 4 familyNLO4.start
#integrals familyNLO4.m
#output /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNLO4.tables