#compressor none
#threads 4
#clean_databases
#fthreads 4
#sthreads 4
#variables d, x1, x2, y1
#start
#folder /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 2 familyNLO2.start
#integrals familyNLO2.m
#output /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNLO2.tables