#compressor        none
#database          /dev/shm/
#threads           1
#fthreads          s1
#variables         qs->1,d12,d15,d23,d34,d45,d
#start
#folder            examples/b1/
#problem           1 |8|b1-new.start
#masters           |1-9|min-b1.m
#lbases            b1.lbases
#preferred         b1.pref
#integrals         b1-8.m
#output            ../../tests/outputs/b1-83.tables
