#compressor        none
#database          /dev/shm/
#threads           1
#fthreads          s1
#pos_pref          -10
#variables         qs->1,d12,d15,d23,d34,d45,d
#start
#folder            examples/b1/
#problem           1 |8|b1-cut.start
#integrals         b1-high-rank.m
#output            ../../tests/outputs/b1-cut.tables
