#compressor none
#threads 2
#clean_databases
#fthreads 4
#sthreads 2
#variables d, x1, x2, y1, y2
#start
#folder /Users/balth/Downloads/LoopS/LoopSFile/Processes/PionEMFF/FIRE/
#problem 18 familyNNLO18.start
#integrals familyNNLO18.m
#output /Users/balth/Downloads/LoopS/LoopSFile/Processes/PionEMFF/FIRE/familyNNLO18.tables