#compressor none
#threads 1
#clean_databases
#fthreads 2
#sthreads 1
#variables d, x1, x2, y1, y2
#start
#folder /Users/balth/Downloads/LoopS-Mine/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/FIRE/
#problem 4 familyNLO4.start
#integrals familyNLO4.m
#output /Users/balth/Downloads/LoopS-Mine/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/FIRE/familyNLO4.tables