#compressor none
#threads 2
#clean_databases
#fthreads 4
#sthreads 2
#variables d, x1, x2, y1, y2
#start
#folder /Users/balth/Downloads/LoopS/LoopSFile/Processes/PionEMFF/FIRE/
#problem 23 familyNNLO23.start
#integrals familyNNLO23.m
#output /Users/balth/Downloads/LoopS/LoopSFile/Processes/PionEMFF/FIRE/familyNNLO23.tables