#compressor none
#threads 2
#clean_databases
#fthreads 4
#sthreads 2
#variables d, x1, x2, y1, y2
#start
#folder /Users/balth/Downloads/LoopS/LoopSFile/Processes/PionEMFF/FIRE/
#problem 21 familyNNLO21.start
#integrals familyNNLO21.m
#output /Users/balth/Downloads/LoopS/LoopSFile/Processes/PionEMFF/FIRE/familyNNLO21.tables