#threads           4
#fthreads          4
#pos_pref          -2
#variables         d,s,t
#start
#folder            examples/
#problem           1 |7|doublebox-new.start
#masters           |1-8|doublebox.masters
#lbases            doublebox.lbases
#integrals         doublebox-rank4.m
#output            ../tests/outputs/doublebox-rank4-sym.tables
