#compressor        zstd
#ordering          Aia
#threads           1
#fthreads          1
#variables         d,m,u,v,w
#bucket            23
#pos_pref          3
#start
#folder            examples/
#problem           2 |7|nbox2w.start
#masters           |6-6|pr-nbox2w.m
#lbases            nbox2w.lbases
#preferred         nbox2w.pref
#rules             nbox2w.rules
#integrals         nbox2w.m
#output            ../tests/outputs/nbox2w.tables
