#database          /dev/shm/
#threads           4
#fthreads          4
#variables         s12->1,s23,s34,s45,s51,d
#start
#folder            examples/
#problem           1 |8|pentabox.start
##masters           |1-3|pentabox.masters
##masters           |4-13|pentabox.masters
#masters           |14-26|pentabox.masters
##masters           |27-46|pentabox.masters
##masters           |47-56|pentabox.masters
##masters           |57-62|pentabox.masters
#integrals         pentabox.m
#output            ../tests/outputs/pentabox.tables
