#compressor none
#threads 4
#clean_databases
#fthreads 8
#sthreads 4
#variables d, x1, x2, y1, y2
#start
#folder /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 1 familyNNLO1.start
#integrals familyNNLO1.m
#output /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNNLO1.tables