#compressor none
#threads 1
#clean_databases
#fthreads 1
#sthreads 1
#variables d, x1, y1, y2
#start
#folder /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 3 familyNLO3.start
#integrals familyNLO3.m
#output /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNLO3.tables