#compressor none
#threads 2
#clean_databases
#fthreads 4
#sthreads 2
#variables d, x1, y1
#start
#folder /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 1 familyNLO1.start
#integrals familyNLO1.m
#output /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNLO1.tables