#compressor none
#threads 2
#clean_databases
#fthreads 4
#sthreads 2
#variables d, x1, y1, y2
#start
#folder /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 3 familyNLO3.start
#integrals familyNLO3.m
#output /Users/balth/Library/Mathematica/Applications/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNLO3.tables