#compressor none
#threads 1
#clean_databases
#fthreads 1
#sthreads 1
#variables d, x1, x2, y1
#start
#folder /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 2 familyNLO2.start
#integrals familyNLO2.m
#output /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNLO2.tables