#compressor none
#threads 2
#clean_databases
#fthreads 4
#sthreads 2
#variables d, x1, x2, y1, y2
#start
#folder /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/
#problem 4 familyNLO4.start
#integrals familyNLO4.m
#output /media/balth/DATA1/work/LoopSWork/packages/LoopS/Examples/LoopSFile/Processes/PionEMFF/IBPReduction/FIRE/familyNLO4.tables