FIRE7/*.swp
FIRE7/extra/ginac/*
FIRE7/usr/logs
FIRE7/*.o
FIRE7/*~
FIRE7/*backup
FIRE7/*kate-swp
FIRE7/documentation/
FIRE7/!documentation/Doxyfile
FIRE7/!documentation/README
FIRE7/poly/FIRE7
FIRE7/poly/FLAME7
FIRE7/poly/Ftool7
FIRE7/prime/FIRE7
FIRE7/prime/FLAME7
FIRE7/prime/Ftool7
FIRE7/multiprime/FIRE7
FIRE7/multiprime/FLAME7
FIRE7/multiprime/Ftool7
FIRE7/mpi/mpi_run_single
FIRE7/temp/*
FIRE7/!temp/.*
FIRE7/reports/*
FIRE7/!reports/.*
FIRE7/!reports/README
FIRE7/usr/include/*
FIRE7/usr/lib/*
FIRE7/usr/share/*
FIRE7/usr/lib64/*
FIRE7/usr/bin/*
FIRE7/extra/kyotocabinet-1.2.77/Makefile
FIRE7/extra/kyotocabinet-1.2.77/config.log
FIRE7/extra/kyotocabinet-1.2.77/config.status
FIRE7/extra/kyotocabinet-1.2.77/config.tmp
FIRE7/extra/kyotocabinet-1.2.77/kccachetest
FIRE7/extra/kyotocabinet-1.2.77/kcdirmgr
FIRE7/extra/kyotocabinet-1.2.77/kcdirtest
FIRE7/extra/kyotocabinet-1.2.77/kcforestmgr
FIRE7/extra/kyotocabinet-1.2.77/kcforesttest
FIRE7/extra/kyotocabinet-1.2.77/kcgrasstest
FIRE7/extra/kyotocabinet-1.2.77/kchashmgr
FIRE7/extra/kyotocabinet-1.2.77/kchashtest
FIRE7/extra/kyotocabinet-1.2.77/kclangctest
FIRE7/extra/kyotocabinet-1.2.77/kcpolymgr
FIRE7/extra/kyotocabinet-1.2.77/kcpolytest
FIRE7/extra/kyotocabinet-1.2.77/kcprototest
FIRE7/extra/kyotocabinet-1.2.77/kcstashtest
FIRE7/extra/kyotocabinet-1.2.77/kctreemgr
FIRE7/extra/kyotocabinet-1.2.77/kctreetest
FIRE7/extra/kyotocabinet-1.2.77/kcutilmgr
FIRE7/extra/kyotocabinet-1.2.77/kcutiltest
FIRE7/extra/kyotocabinet-1.2.77/kyotocabinet.pc
FIRE7/extra/kyotocabinet-1.2.77/libkyotocabinet.a
FIRE7/extra/kyotocabinet-1.2.77/libkyotocabinet.so
FIRE7/extra/kyotocabinet-1.2.77/libkyotocabinet.so.16
FIRE7/extra/kyotocabinet-1.2.77/libkyotocabinet.so.16.13.0
FIRE7/extra/kyotocabinet-1.2.77/libkyotocabinet.dylib
FIRE7/extra/kyotocabinet-1.2.77/libkyotocabinet.16.dylib
FIRE7/extra/kyotocabinet-1.2.77/libkyotocabinet.16.13.0.dylib
FIRE7/extra/snappy-1.1.1/.deps/
FIRE7/extra/snappy-1.1.1/.libs/
FIRE7/extra/snappy-1.1.1/Makefile
FIRE7/extra/snappy-1.1.1/config.h
FIRE7/extra/snappy-1.1.1/config.log
FIRE7/extra/snappy-1.1.1/config.status
FIRE7/extra/snappy-1.1.1/libsnappy.la
FIRE7/extra/snappy-1.1.1/libtool
FIRE7/extra/snappy-1.1.1/snappy-c.lo
FIRE7/extra/snappy-1.1.1/snappy-sinksource.lo
FIRE7/extra/snappy-1.1.1/snappy-stubs-internal.lo
FIRE7/extra/snappy-1.1.1/snappy.lo
FIRE7/extra/snappy-1.1.1/snappy_unittest
FIRE7/extra/snappy-1.1.1/stamp-h1
FIRE7/extra/snappy-1.1.1/autom4te.cache/
FIRE7/extra/snappy-1.1.1/snappy-stubs-public.h
FIRE7/poly/Makefile
FIRE7/prime/Makefile
FIRE7/multiprime/Makefile
FIRE7/tools/Makefile
FIRE7/mpi/Makefile
FIRE7//Makefile
FIRE7/extra/gperftools-2.7/.libs/
FIRE7/extra/gperftools-2.7/Makefile
FIRE7/extra/gperftools-2.7/addressmap_unittest
FIRE7/extra/gperftools-2.7/atomicops_unittest
FIRE7/extra/gperftools-2.7/benchmark/.deps/
FIRE7/extra/gperftools-2.7/benchmark/.dirstamp
FIRE7/extra/gperftools-2.7/benchmark/run_benchmark.lo
FIRE7/extra/gperftools-2.7/binary_trees
FIRE7/extra/gperftools-2.7/binary_trees_shared
FIRE7/extra/gperftools-2.7/config.log
FIRE7/extra/gperftools-2.7/config.status
FIRE7/extra/gperftools-2.7/current_allocated_bytes_test
FIRE7/extra/gperftools-2.7/debugallocation_test
FIRE7/extra/gperftools-2.7/debugallocation_test.sh
FIRE7/extra/gperftools-2.7/frag_unittest
FIRE7/extra/gperftools-2.7/getpc_test
FIRE7/extra/gperftools-2.7/heap-checker-death_unittest.sh
FIRE7/extra/gperftools-2.7/heap-checker_debug_unittest
FIRE7/extra/gperftools-2.7/heap-checker_debug_unittest.sh
FIRE7/extra/gperftools-2.7/heap-checker_unittest
FIRE7/extra/gperftools-2.7/heap-checker_unittest.sh
FIRE7/extra/gperftools-2.7/heap-profiler_debug_unittest
FIRE7/extra/gperftools-2.7/heap-profiler_debug_unittest.sh
FIRE7/extra/gperftools-2.7/heap-profiler_unittest
FIRE7/extra/gperftools-2.7/heap-profiler_unittest.sh
FIRE7/extra/gperftools-2.7/libfake_stacktrace_scope.la
FIRE7/extra/gperftools-2.7/liblogging.la
FIRE7/extra/gperftools-2.7/libmaybe_threads.la
FIRE7/extra/gperftools-2.7/libprofiler.la
FIRE7/extra/gperftools-2.7/libprofiler.pc
FIRE7/extra/gperftools-2.7/librun_benchmark.la
FIRE7/extra/gperftools-2.7/libspinlock.la
FIRE7/extra/gperftools-2.7/libstacktrace.la
FIRE7/extra/gperftools-2.7/libsysinfo.la
FIRE7/extra/gperftools-2.7/libtcmalloc.la
FIRE7/extra/gperftools-2.7/libtcmalloc.pc
FIRE7/extra/gperftools-2.7/libtcmalloc_and_profiler.la
FIRE7/extra/gperftools-2.7/libtcmalloc_debug.la
FIRE7/extra/gperftools-2.7/libtcmalloc_debug.pc
FIRE7/extra/gperftools-2.7/libtcmalloc_internal.la
FIRE7/extra/gperftools-2.7/libtcmalloc_minimal.la
FIRE7/extra/gperftools-2.7/libtcmalloc_minimal.pc
FIRE7/extra/gperftools-2.7/libtcmalloc_minimal_debug.la
FIRE7/extra/gperftools-2.7/libtcmalloc_minimal_debug.pc
FIRE7/extra/gperftools-2.7/libtcmalloc_minimal_internal.la
FIRE7/extra/gperftools-2.7/low_level_alloc_unittest
FIRE7/extra/gperftools-2.7/malloc_bench
FIRE7/extra/gperftools-2.7/malloc_bench_shared
FIRE7/extra/gperftools-2.7/malloc_bench_shared_full
FIRE7/extra/gperftools-2.7/malloc_extension_c_test
FIRE7/extra/gperftools-2.7/malloc_extension_debug_test
FIRE7/extra/gperftools-2.7/malloc_extension_test
FIRE7/extra/gperftools-2.7/malloc_hook_test
FIRE7/extra/gperftools-2.7/markidle_unittest
FIRE7/extra/gperftools-2.7/memalign_debug_unittest
FIRE7/extra/gperftools-2.7/memalign_unittest
FIRE7/extra/gperftools-2.7/packed_cache_test
FIRE7/extra/gperftools-2.7/page_heap_test
FIRE7/extra/gperftools-2.7/pagemap_unittest
FIRE7/extra/gperftools-2.7/profile_handler_unittest
FIRE7/extra/gperftools-2.7/profiledata_unittest
FIRE7/extra/gperftools-2.7/profiler1_unittest
FIRE7/extra/gperftools-2.7/profiler2_unittest
FIRE7/extra/gperftools-2.7/profiler3_unittest
FIRE7/extra/gperftools-2.7/profiler4_unittest
FIRE7/extra/gperftools-2.7/profiler_unittest.sh
FIRE7/extra/gperftools-2.7/raw_printer_test
FIRE7/extra/gperftools-2.7/realloc_debug_unittest
FIRE7/extra/gperftools-2.7/realloc_unittest
FIRE7/extra/gperftools-2.7/sampler_debug_test
FIRE7/extra/gperftools-2.7/sampler_test
FIRE7/extra/gperftools-2.7/sampling_debug_test
FIRE7/extra/gperftools-2.7/sampling_debug_test.sh
FIRE7/extra/gperftools-2.7/sampling_test
FIRE7/extra/gperftools-2.7/sampling_test.sh
FIRE7/extra/gperftools-2.7/simple_compat_test
FIRE7/extra/gperftools-2.7/src/.deps/
FIRE7/extra/gperftools-2.7/src/.dirstamp
FIRE7/extra/gperftools-2.7/src/base/.deps/
FIRE7/extra/gperftools-2.7/src/base/.dirstamp
FIRE7/extra/gperftools-2.7/src/base/atomicops-internals-x86.lo
FIRE7/extra/gperftools-2.7/src/base/dynamic_annotations.lo
FIRE7/extra/gperftools-2.7/src/base/elf_mem_image.lo
FIRE7/extra/gperftools-2.7/src/base/libtcmalloc_and_profiler_la-linuxthreads.lo
FIRE7/extra/gperftools-2.7/src/base/libtcmalloc_debug_la-linuxthreads.lo
FIRE7/extra/gperftools-2.7/src/base/libtcmalloc_internal_la-low_level_alloc.lo
FIRE7/extra/gperftools-2.7/src/base/libtcmalloc_la-linuxthreads.lo
FIRE7/extra/gperftools-2.7/src/base/logging.lo
FIRE7/extra/gperftools-2.7/src/base/spinlock.lo
FIRE7/extra/gperftools-2.7/src/base/spinlock_internal.lo
FIRE7/extra/gperftools-2.7/src/base/sysinfo.lo
FIRE7/extra/gperftools-2.7/src/base/thread_lister.lo
FIRE7/extra/gperftools-2.7/src/base/vdso_support.lo
FIRE7/extra/gperftools-2.7/src/config.h
FIRE7/extra/gperftools-2.7/src/fake_stacktrace_scope.lo
FIRE7/extra/gperftools-2.7/src/gperftools/tcmalloc.h
FIRE7/extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-heap-checker-bcad.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-heap-checker.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-profile-handler.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-profiledata.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-profiler.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_and_profiler_la-tcmalloc.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_debug_la-debugallocation.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_debug_la-heap-checker-bcad.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_debug_la-heap-checker.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-central_freelist.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-common.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-fake_stacktrace_scope.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-heap-profile-table.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-heap-profiler.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-internal_logging.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-malloc_extension.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-malloc_hook.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-memfs_malloc.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-memory_region_map.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-page_heap.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-raw_printer.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-sampler.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-span.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-stack_trace_table.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-static_vars.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-symbolize.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-system-alloc.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_internal_la-thread_cache.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_la-heap-checker-bcad.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_la-heap-checker.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_la-tcmalloc.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_debug_la-debugallocation.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-central_freelist.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-common.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-internal_logging.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-malloc_extension.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-malloc_hook.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-memfs_malloc.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-page_heap.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-sampler.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-span.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-stack_trace_table.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-static_vars.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-symbolize.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-system-alloc.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_internal_la-thread_cache.lo
FIRE7/extra/gperftools-2.7/src/libtcmalloc_minimal_la-tcmalloc.lo
FIRE7/extra/gperftools-2.7/src/maybe_threads.lo
FIRE7/extra/gperftools-2.7/src/profile-handler.lo
FIRE7/extra/gperftools-2.7/src/profiledata.lo
FIRE7/extra/gperftools-2.7/src/profiler.lo
FIRE7/extra/gperftools-2.7/src/stacktrace.lo
FIRE7/extra/gperftools-2.7/src/stamp-h1
FIRE7/extra/gperftools-2.7/src/tests/.deps/
FIRE7/extra/gperftools-2.7/src/tests/.dirstamp
FIRE7/extra/gperftools-2.7/src/windows/.deps/
FIRE7/extra/gperftools-2.7/stack_trace_table_test
FIRE7/extra/gperftools-2.7/stacktrace_unittest
FIRE7/extra/gperftools-2.7/system_alloc_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_and_profiler_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_both_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_debug_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_large_heap_fragmentation_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_large_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_minimal_debug_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_minimal_large_heap_fragmentation_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_minimal_large_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_minimal_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_unittest
FIRE7/extra/gperftools-2.7/tcmalloc_unittest.sh
FIRE7/extra/gperftools-2.7/thread_dealloc_unittest
FIRE7/extra/gperftools-2.7/libtool
FIRE7/extra/gperftools-2.7/tcm_min_asserts_unittest
FIRE7/extra/gperftools-2.7/unwind_bench
FIRE7/extra/snappy-1.1.7/build
FIRE7/previous_options
FIRE7/mpi/FIRE_MPI
FIRE7/.tags
FIRE7/tests/db
FIRE7/strace_out
FIRE7/paths.inc
FIRE7/libs.inc
FIRE7/extra/CoCoALib-0.99715/configuration/last-config-cmd
FIRE7/extra/CoCoALib-0.99715/configuration/autoconf.mk
FIRE7/extra/CoCoALib-0.99715/configuration/autoconf.mk.old
FIRE7/extra/CoCoALib-0.99715/include/CoCoA/PREPROCESSOR_DEFNS.H
FIRE7/extra/CoCoALib-0.99715/include/CoCoA/PREPROCESSOR_DEFNS.H-old
FIRE7/extra/CoCoALib-0.99715/lib
FIRE7/extra/CoCoALib-0.99715/src/AlgebraicCore/leak_checker
FIRE7/tests/math/temp/*
FIRE7/extra/CoCoALib-0.99715/doc/CoCoALib-tasks/HTMLTasks
FIRE7/tools/diff
FIRE7/tools/lcm
FIRE7/tools/substitute
FIRE7/tools/FIRE7_MPI
FIRE7/tools/FIRE7_MPI_GPU
FIRE7/tools/reconstruct
FIRE7/tools/tables2rules
FIRE7/tools/combine
FIRE7/tools/add
FIRE7/*.swp
FIRE7/libraryBinarySettings
FIRE7/usr/etc/*
FIRE7/prime/eqgen_external_solver
FIRE7/multiprime/eqgen_external_solver
FIRE7/tools/reconstruct_mpi
FIRE7/tools/reconstruct_gpu
FIRE7/tools/reconstruct_mpi_gpu
FIRE7/sources/tools/topo_sort.cpp
FIRE7/tools/topo_sort
FIRE7/sources/eqgen_external_solver.cpp
